@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  @apply bg-gray-900 text-gray-100;
  --webkit-font-smoothing: antialiased
}